:root {
  --bg-primary: #0f0f0f;
  --bg-secondary: #121212;

  --fg-primary: #ffffff;
  --fg-secondary: #f1f1f1;

  --color1: #d772b4;
  --color2: #dc8a99;
  --color3: #dfbf96;
  --color4: #e5e5b2;
  --color5: #ededd8;

  --color6: #81c0d8; /* Sky Blue */
  --color7: #f58d5b; /* Orange */
  --color8: #7fdd8a; /* Mint Green */
  --color9: #f7d25f; /* Yellow */
  --color10: #a98ef7; /* Purple */
}
