@import "colors.css";

canvas {
  display: block;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--bg-primary);
}

.hidden {
  opacity: 0;
}

.loader-wrapper {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 100px;
  transition: opacity 1s ease-in-out;
}

.loader {
  position: absolute;
  border: 8px solid transparent;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 1.5s linear infinite;
  border-top-color: var(--fg-secondary);
  border-bottom-color: var(--fg-secondary);
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
